body
{
    text-align:center;
}
.links
{
float:left;
color:#808000;
padding-top:5px;
padding-left:33px;
padding-right:25px;
padding-bottom:5px;
font-family:fantasy;
font-size:20px;
display:inline !important;
background-color: deepskyblue
}
h1
{
    text-align:center;
}
a
{
    text-align:center;
}
img:hover
{
    transform:scale(0.9);
}
img
{
    transition:transform .2s;
    border:10px solid#AAAAAA;
}
